<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/register" method="post">
        username : <input type="text", name="username", placeholder="write your username">
        email : <input type="text", name="email", placeholder="write your email">
        phone : <input type="text", name="phone", placeholder="write your phone number">
        password : <input type="password", name="password", placeholder="write your password">
        <input type="submit", value="가입">


    </form>
    <!-- 주석처리 ctrl+/ -->
    
</body>
</html>